<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Doodle App</h1>
        <h2>Meetings made simple</h2>
        <h3>Save time scheduling your day with the power of Doodle</h3>
        <div class="mt-4">
            <a href="./admin" class="btn btn-primary">Admin Login</a>
            <a href="./guest-doodle" class="btn btn-info">Doodles</a>
        </div>
    </div>
</body>
</html>